@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-BoldItalic.woff') format('woff'), url('../fonts/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'), url('../fonts/OpenSans-LightItalic.woff') format('woff'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Semibold.woff') format('woff'), url('../fonts/OpenSans-SemiboldItalic.woff') format('woff'), url('../fonts/Russo_One.woff') format('woff');
}

body {
    margin: 0;
    padding: 0;
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 13px;
    color: #262626;
    font-weight: normal;
    background: url('../img/background-map.png') no-repeat center center, url('../img/background-picture.jpg') no-repeat center top, url('../img/background-picture.jpg') no-repeat center bottom;
    width: 100%;
    display: table;
    background-color: #fff8e9
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-slider {
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.logo {
    position: relative;
    top: 0;
    left: 0;
}

.main-name {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 35px;
    width: 800px;
    color: #040480;
}

.main-name h1 {
    margin: 0;
    padding: 0;
    font-size: 53px;
}

.slogan {
    font-size: 47px;
    margin: 0;
    font-style: italic;
}