@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-ExtraBoldItalic.woff') format('.woff'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-BoldItalic.woff') format('.woff'), url('../fonts/OpenSans-ExtraBold.woff') format('.woff'), url('../fonts/OpenSans-Light.woff') format('.woff'), url('../fonts/OpenSans-Italic.woff') format('.woff'), url('../fonts/OpenSans-LightItalic.woff') format('.woff'), url('../fonts/OpenSans-Regular.woff') format('.woff'), url('../fonts/OpenSans-Semibold.woff') format('.woff'), url('../fonts/OpenSans-SemiboldItalic.woff') format('.woff'), P url('../fonts/Russo_One.woff') format('.woff');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans', Arial, sans-serif;
    font-size: 13px;
    color: #262626;
    background: url('../img/background-picture.jpg') no-repeat center top, url('../img/background-map.png') repeat-y center center, url('../img/background-picture.jpg') no-repeat center bottom;
    width: 100%;
    display: table;
    background-color: #fff8e9
}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.top-menu a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 504px;
    z-index: 1;
    max-width: 1200px;
}

.logo {
    position: relative;
    top: 0;
    left: 0;
}

.main-name {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 39px;
    width: 800px;
    color: #040480;
    margin-right: 8px;
}

.main-name h1 {
    margin: 0;
    padding: 0;
    font-size: 53px;
    font-weight: 800;
}

.slogan {
    font-size: 47px;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    margin-left: 18px;
}

.main {
    width: 1200px;
    margin-bottom: 37px;
}

.slider-name {
    padding: 0;
    margin: 0;
    display: block;
    padding-right: 20px;
    padding-top: 105px;
    width: 30%;
}

.slider-text {
    font-size: 26px;
    line-height: 36px;
    padding-left: 26px;
    font-weight: bold;
    margin-top: 110px;
}

.slider-author {
    font-size: 26px;
    line-height: 36px;
    text-align: right;
    margin-right: 15px;
    font-weight: bold;
    margin-top: -18px;
}

.top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.top-menu {
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    height: 72px;
    background: url(../img/rope.png) repeat-x 0 -2px, url(../img/menu-background.png);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 2;
    position: relative;
}

.top-menu a {
    display: block;
    vertical-align: middle;
    color: #040480;
}

.top-menu li {
    margin-top: 7px;
    margin-left: 2px;
    padding-right: 40px;
}

.top-menu:first-child {
    padding-left: 23px;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    min-height: 443px;
    margin-right: 15px;
    max-width: 1200px;
}

.header-about {
    position: relative;
  
    transform: rotate(0deg);
  
   
    width: 147px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.content {
    padding-top: 0;
    padding-left: 50px;
}

.header-about h2 {
    margin: 0;
    padding: 0;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    font-size: 54px;
    color: #040480;
    font-family: 'Russo One';
    position: relative;
}

.header-about.first h2 {
    top: 65px;
}

.ushakov-photo {
    margin-top: 20px;
    padding-right: 12px;
}

.content p {
    font-size: 28px;
    line-height: 36px;
    padding-left: 34px;
    padding-right: 10px;
    margin-top: 18px;
}

.afisha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgb(234, 219, 194, 0.5);
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 16px;
    margin-bottom: 46px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.main-afisha h2 {
    font-size: 25px;
    line-height: 27px;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    margin-bottom: 50px;
}

.main-afisha {
    margin-right: 25px;
    margin-left: 23px;
    width: 30%;
}

.secondary-afisha,
.third-afisha {
    margin-right: 23px;
    width: 26%;
}

.secondary-afisha h2,
.third-afisha h2 {
    margin: 0;
    padding: 0;
    font-size: 25px;
    line-height: 27px;
    padding-top: 6px;
}

.header-about.second {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 134px;
    top: 110px;
}

.header-about.second h2 {
    text-align: right;
}

time {
    text-align: right;
    display: block;
    color: #040480;
    font-size: 18px;
    font-weight: bold;
    border-right: 2px solid #040480;
    padding-right: 25px;
    line-height: 18px;
    margin-right: 10px;
}

.news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-about.third {
    left: 45px;
    bottom: 20px;

}

.slider-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 1200px;
    position: relative;
    left: 12px;
}
.main-news {
    min-height: 360px;
}

.main-news {
    min-height: 360px;
    width: 28%;
    background: #ebe4d1;
    margin-right: 8px;
    /* padding: 10px; */
}

.main-news h2 {
    font-size: 15px;
    padding: 10px;
    font-size: 15px;
    font-weight: normal;
    padding-top: 0px;
}

.slider-news::before, .slider-materials::before, .slider-people::before {
    content: '';
    background: url(../img/navigation-left.png) no-repeat;
    width: 55px;
    height: 55px;
    padding-right: 10px;
    margin-top: 135px;
}

.slider-materials::before,
.slider-materials::after {
    content: '';
    position: relative;
    bottom: 20%;
}

.slider-people::before,
.slider-people::after {
    content: '';
    position: relative;
    bottom: 60px;
}

.slider-news::after,
.slider-materials::after,
.slider-people::after {
    content: '';
    background: url(../img/navigation-right.png);
    width: 55px;
    height: 55px;
    margin-right: 40px;
    margin-top: 135px;
}

.materials-video img {
    position: relative;
    bottom: 40px;
}

.materials-books img {
    bottom: 20px;
    position: relative;
    right: 3px;
}
.materials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgb(234, 219, 194, 0.5);
    padding-top: 43px;
    padding-bottom: 10px;
    margin-bottom: 44px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}


.slider-materials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    max-width: 1200px;
    margin-left: 40px;
}

.materials-books,
.materials-video {
    margin-right: 30px;
    text-align: center;
    width: 35%;
}

.materials-books {
    width: 12%;
}

.materials-paint {
    margin-right: 10px;
    text-align: center;
    width: 31%;
}

.header-about.fourth {
    left: 75px;
}

.materials-books h2,
.materials-video h2,
.materials-paint h2 {
    font-size: 30px;
    line-height: 46px;
}

.slider-people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 70px;
    max-width: 1100px;
}

.header-about.fifth {
    top: 60px;
    left: 65px;
}

.people:first-child {
    margin-right: 50px;
}

.people.middle h3 {
    width: 300px;
}

section.people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.social p {
    font-size: 29px;
    line-height: 46px;
}

.people.middle {
    margin-right: 50px;
}

.footer-top .social {
    list-style: none;
}

.people:last-child {
    margin-right: 20px;
}

.people-name {
    text-align: center;
    font-family: OpenSans;
    font-weight: 600;
    width: 255px;
    margin-top: -35px;
}

.people-name h3 {
    font-size: 34px;
    line-height: 36px;
    width: 255px;
}

.main-footer::before {
    content: '';
    background: url(../img/rope.png);
    height: 15px;
    display: block;
}

.footer-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    max-width: 1100px;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-btn-fb {
    background: url(../img/spritesheet.png) no-repeat;
    width: 60px;
    height: 56px;
    display: block;
}

.social-btn-yt {
    background: url(../img/spritesheet.png) no-repeat -67px 0;
    width: 60px;
    height: 56px;
    display: block;
}

.social-btn-vk {
    background: url(../img/spritesheet.png) no-repeat -135px 0;
    width: 60px;
    height: 56px;
    display: block;
}

.social-btn-vk {
    background: url(../img/spritesheet.png) no-repeat -135px 0;
    width: 60px;
    height: 56px;
    display: block;
}

.social-btn-tw {
    background: url(../img/spritesheet.png) no-repeat -204px 0;
    width: 60px;
    height: 56px;
    display: block;
}

.anchor {
    background: url(../img/anchor.png) no-repeat;
    display: block;
    height: 113px;
    width: 90px;
    position: absolute;
    right: 35px;
    bottom: 5px;
}

.social-btn-fb {
    background: url(../img/spritesheet.png);
}

footer.main-footer {
    max-width: 1200px;
    position: relative;
}

.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-bottom p {
    font-size: 29px;
    line-height: 46px;
    font-weight: bold;
    max-width: 1100px;
}

.footer-top {
    padding-right: 55px;
    padding-left: 10px;
    margin-top: 30px;
    max-width: 1100px;
}

.footer-bottom {
    padding-right: 55px;
    padding-left: 75px;
    margin-top: 18px;
    margin-top: -10px;
    max-width: 1200px;
}

.footer-navigation a {
    font-size: 29px;
    line-height: 46px;
    font-weight: bold;
    color: #262626;
    text-transform: uppercase;
}

.footer-navigation li {
    border-right: 3px solid #262626;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 20px;
}